
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">

		<title>Document</title>
	</head>
	<body>
		<div class="login">
				<input class="idinput" id="username" name="username" placeholder="아이디" type="text" />
				<input class="pwinput" id="password" name="password" placeholder="비밀번호" type="password" />
                <p id="login__check">{{ msg }}</p>
                <!-- <input type="submit" value="로그인" id="signUp__first__btn"> -->
				<button type="submit" value="로그인" id ="signUp__first__btn">로그인</button>
		
			<div class="goregister">
				<p>계정이 없으신가요?<br />
					<a class="gogo" href="{% url 'signup' %}" >회원가입하러 가기</a>
				</p>
			</div>
		</div>
	</body>
</html>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $.ajaxSetup({
      headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
  </script>

  <script type = "text/javascript">
    let signin = document.querySelector('#signUp__first__btn');

    signin.addEventListener('click', e => {               
      var username = document.getElementById('username').value;
      var password = document.getElementById('password').value;
      console.log(username)
      console.log(password)

      let dict = {'username': username, 'password': password}
      $.ajax({
        url: '/login/',                          
        type: 'POST',
        data: JSON.stringify(dict),                       
        success:function(data){
          console.log(data)
          // json.loads(data)
          if (data['msg'] == ""){
           window.location.replace("127.0.0.1:8000");
          }document.getElementById('login__check').innerHTML = data['msg']
        },
        error: function(){
          alert('전송실패')
        }
      });
     }); 

  </script>