.region {
	width: 130px;
	height: 35x;
	background-color: #d9d9d9;
	margin: 80px 300px;
	padding-left: 20px;
	
}
.posting {
	display: flex;
	height: 150px;
	margin-bottom: 20px;
	margin-left: 300px;
}
.photos {
	margin-left: 10px;
	width:fit-content;
	background-color: antiquewhite;
	display: flex;
}
.photos img{
	height: 100px;
	display: block;
}
img {
	height: 150px;
}
.llike {
	height:200px;
	display: block;
	margin: 10px ;
	
}
.like {
	height: 50px;
	display: block;
	margin: 30px auto;
	
}
.title {
	width: 150px;
	background-color: #d9d9d9;
	margin-right: 10px;
	border-radius: 15px;
	padding-left: 12px;
}
h1 {
	font-weight: 800;
	font-size: 40px;
	display: block;
	margin: 20px auto;
	width: fit-content;
}
.sorting {
	width: 30px;
	height: 20px;
	margin: 5px auto;
}
.logo {
	height: 50px;
	border: none;
	margin-right: 10px;
}
.sortingtitle{
	display: flex;
}